body {
  font-family: "PT Mono";
  background: #ebccc4;
  color: #215347;
}
h1,
h2,
p {
  text-align: center;
}

h1 {
  font-size: 50px;
  margin-top: 70px;
}

h2 {
  font-size: 50px;
}
footer {
  margin: 40px;
  text-align: center;
}

footer a {
  margin: 10px;
  text-decoration: none;
  color: #f1ede2;
}

footer a:hover {
  opacity: 50%;
}

.picture {
  opacity: 60%;
  display: block;
  margin: 0 auto;
}

.contact-link {
  text-decoration: none;
  color: #215347;
}

.contact-link:hover {
  opacity: 50%;
}
